<p-card>
  <ng-template pTemplate="title">{{ i18n.t('teacherSignup.title') }}</ng-template>
  <p>{{ i18n.t('teacherSignup.hint') }}</p>
  <form class="stack-form" [formGroup]="form" (ngSubmit)="submit()">
    <input pInputText formControlName="foodsharingId" [placeholder]="i18n.t('common.foodsharingId')" />
    <input pInputText formControlName="icalLink" [placeholder]="i18n.t('common.icalLink')" />
    <button pButton type="submit" [label]="i18n.t('common.save')" [disabled]="form.invalid"></button>
  </form>
</p-card>
