<p-card>
  <ng-template pTemplate="title">{{ i18n.t('bookings.title') }}</ng-template>
  <p-table [value]="bookings()">
    <ng-template pTemplate="header">
      <tr>
        <th>{{ i18n.t('slots.category') }}</th>
        <th>{{ i18n.t('slots.date') }}</th>
        <th>{{ i18n.t('slots.teacher') }}</th>
        <th>{{ i18n.t('common.location') }}</th>
        <th>{{ i18n.t('common.phoneNumber') }}</th>
        <th>{{ i18n.t('common.status') }}</th>
        <th>{{ i18n.t('common.actions') }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-booking>
      <tr>
        <td>{{ i18n.categoryLabel(booking.category) }}</td>
        <td>{{ booking.startDateTime | date: 'medium' }}</td>
        <td>{{ booking.teacherName }}</td>
        <td>{{ booking.location ?? '-' }}</td>
        <td>{{ booking.bookingUser?.phoneNumber ?? '-' }}</td>
        <td><p-tag [value]="i18n.statusLabel(booking.status)"></p-tag></td>
        <td class="actions-cell">
          @if (booking.status === SlotStatus.Booked) {
            <button pButton size="small" severity="danger" icon="pi pi-times" [label]="i18n.t('bookings.cancel')" (click)="confirmCancel(booking.slotId)"></button>
          }
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
