<p-card>
  <ng-template pTemplate="title">{{ i18n.t('bookings.title') }}</ng-template>
  <p-table [value]="bookings()">
    <ng-template pTemplate="header">
      <tr>
        <th>{{ i18n.t('common.name') }}</th>
        <th>{{ i18n.t('slots.category') }}</th>
        <th>{{ i18n.t('slots.date') }}</th>
        <th>{{ i18n.t('slots.teacher') }}</th>
        <th>{{ i18n.t('common.location') }}</th>
        <th>{{ i18n.t('common.whatToBring') }}</th>
        <th>{{ i18n.t('common.phoneNumber') }}</th>
        <th>{{ i18n.t('common.status') }}</th>
        <th>{{ i18n.t('common.actions') }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-booking>
      <tr>
        <td>{{ booking.bookingUser?.name ?? '-' }}</td>
        <td>{{ i18n.categoryLabel(booking.category) }}</td>
        <td>{{ booking.startDateTime | zurichDateTime }}</td>
        <td>{{ booking.teacherName }}</td>
        <td>{{ booking.location ?? '-' }}</td>
        <td style="white-space: pre-wrap;">{{ booking.whatToBring ?? '-' }}</td>
        <td>{{ booking.teacherPhoneNumber ?? '-' }}</td>
        <td><p-tag [value]="i18n.statusLabel(booking.status)"></p-tag></td>
        <td class="actions-cell">
          @if (booking.status === SlotStatus.Booked) {
            <button pButton size="small" severity="danger" icon="pi pi-times" [label]="i18n.t('bookings.cancel')" (click)="confirmCancel(booking.slotId)"></button>
          }
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator
    [rows]="pageSize"
    [totalRecords]="bookingsPage()?.totalElements ?? 0"
    [first]="(bookingsPage()?.page ?? 0) * pageSize"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} - {last} / {totalRecords}"
    (onPageChange)="onPageChange($event)">
  </p-paginator>
</p-card>
